<link rel="import" href="../vendor/polymer/polymer.html">
<link rel="import" href="../vendor/core-ajax/core-ajax.html">
<link rel="import" href="../product-search/product-search.html">

<polymer-element name="product-list" attributes="products">
  <template>
    <style>
      a {
        color: #ff6600;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        margin: 1em 0;
        padding: 0;
      }
      li a {
        display: block;
        text-decoration: none;
      }
      li h4 {
        font-weight: 400;
        margin: 0 0 0.25em 0;
      }
      li p {
        color: #999;
        font-size: 0.9em;
        line-height: 1.6;
        margin: 0;
      }

      .error {
        color: red;
      }
    </style>

    <product-search products="{{products}}" filtered="{{filtered}}"></product-search>

    <template if="{{!filtered.length}}">
      <p class="error">There are no products!</p>
    </template>

    <template if="{{filtered.length}}">
      <ul>
        <template repeat="{{p,i in filtered}}">
          <li>
            <h4><a href="" on-click="{{view}}" data-index="{{i}}">{{p.name}}</a></h4>
            <p>{{p.description}}</p>
          </li>
        </template>
      </ul>
    </template>
  </template>

  <script type="text/javascript">
    Polymer({
      products: [
        { name:'Snappy shoes', description: 'Curabitur blandit tempus porttitor.' },
        { name:'HUGE Hat!', description: 'Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.' },
        { name:'Smelly Socks', description: 'Aenean lacinia bibendum nulla sed consectetur.' },
        { name:'Lonesome Loafers', description: 'Nulla vitae elit libero, a pharetra augue.' },
        { name:'Slippery Shoes', description: 'Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' },
      ],
      ready: function () {
        //this.products = this.products || [{name:'foo'},{name:'bar'}];
        this.filtered = this.products;
      },
    });
  </script>
</polymer-element>
