<link rel="import" href="../vendor/polymer/polymer.html">
<link rel="import" href="../vendor/core-ajax/core-ajax.html">
<link rel="import" href="../product-search/product-search.html">

<polymer-element name="product-list" attributes="products">
  <template>
    <style>
      a {
        color: #ff6600;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        border-bottom: 1px solid #efefef;
        margin: 1em 0;
        padding: 0 0 1em 0;
      }
      li a {
        display: block;
        text-decoration: none;
      }
      li h4 {
        font-weight: 400;
        margin: 0 0 0.25em 0;
      }
      li p {
        color: #999;
        font-size: 0.9em;
        line-height: 1.6;
        margin: 0;
      }
      .price {
        color: #1c0;
        float: right;
        margin: 0;
        padding: 0;
      }

      .error {
        color: red;
      }
    </style>

    <product-search products="{{products}}" filtered="{{filtered}}"></product-search>

    <template if="{{!filtered.length}}">
      <p class="error">There are no products!</p>
    </template>

    <template if="{{filtered.length}}">
      <ul>
        <template repeat="{{p,i in filtered}}">
          <li>
            <p class="price">{{p.price | money}}</p>
            <h4><a href="" on-click="{{view}}" data-index="{{i}}">{{p.name}}</a></h4>
            <p>{{p.description}}</p>
          </li>
        </template>
      </ul>
    </template>
  </template>

  <script type="text/javascript">
    Polymer({
      products: [
        { name:'Snappy shoes', price: 999, description: 'Curabitur blandit tempus porttitor.' },
        { name:'HUGE Hat!', price: 1299, description: 'Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.' },
        { name:'Smelly Socks', price: 3000, description: 'Aenean lacinia bibendum nulla sed consectetur.' },
        { name:'Lonesome Loafers', price: 2175, description: 'Nulla vitae elit libero, a pharetra augue.' },
        { name:'Slippery Shoes', price: 19983, description: 'Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' },
      ],
      money: function (cents) {
        return '$' + cents/100;
      },
      ready: function () {
        this.filtered = this.products;
      },
    });
  </script>
</polymer-element>
